
html{
    margin:0;
    background: linear-gradient(180deg, rgba(156, 233, 235, 0.86) 0%, 
        rgba(255, 217, 86, 0.96) 26.56%, rgba(255, 220, 220, 0.6) 63.02%, 
        rgba(227, 252, 195, 0.76) 100%);
    mix-blend-mode: normal;
}
#main{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

/* Leighai's work */
.section1{
  width:100%;
  height:20%;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  position: relative; 
  border: 2px solid black;
}


#earth {
    width: 400%;
    display: flex;
    justify-content: center;
    /* margin-bottom: 10px; */
}

.comp1, .comp2  {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; 
}

/*claudia's work*/
.section2{
    width:100%;
    height: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 250px;

}
.section2 h2 {
    text-decoration: underline;

   
}
.comp1_section2 {
    position:relative;
    width: 60%;
    height: 200px;
}

.flag_container {
    position:relative;
}
.flag {
    position:absolute;
    width: 200px;
    height: 200px;
    top: -100px;
    right: -110px;
    z-index: -1;

}
.flag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 70%;
}


.container1 {
    position:relative;
}

.comp5_section2 {
    position: relative;
}

/*animation effects on section 2*/
.comp3_1, .comp3_2, .comp3_3, .comp3_4 {
    padding: 10px;

}
.comp3_1:hover {
    transform: scale(1.5);
}
.comp3_2:hover {
    transform: scale(1.5);
}
.comp3_3:hover {
    transform: scale(1.5);
}
.comp3_4:hover {
    transform: scale(1.5);
}

@keyframes bounce { 
    from { 
        transform: translate3d(0, 0, 0); 
    } 
    to { 
        transform: translate3d(0, 20px, 0); 
    } 
} 

@keyframes bouncing {
    from{
        transform: scale(0,0);
        /* transform: rotate(0deg); */
    }
    to {
        transform:scale(1,1);
        /* transform:rotate(360deg); */
    }
}

/*section 2 styling end*/


.section3{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:20%;
    margin:100px;
}

.container2{
   display: flex;
   flex-direction: row;
}

.icons{
    width: 100%;
    height: 100px;

}

.section4{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:20%;
    margin:100px;
}

.container1 {
    position: relative;
    right: 50px;  /*need to re-size*/


}

.container3{
    margin:100px; 
}


.section3{
    width:100%;
}

.section4{
    width:100%;
}

/* Maggie */
.section5{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.so {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2em;
    font-weight: bold;
}

.howcan {
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container6 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    max-width: 60%;
}

.comp9 {
    display: flex;
    flex-wrap: wrap;
}

.smallsteps {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    font-size: 2em;
}

.comp10 {
    display: flex;
    position: absolute;
    top: 50rem;
}
.footsteps-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    animation-name: footsteps;
    top: -150px;
    left: -100px;
}

@keyframes footsteps {
    from {opacity: 100%;}
    to {opacity: 0%;}
}

.comp10 {
    display: flex;
}

.earthonsteps {
    width: 250px;
}

.doyourpart {
    font-size: 1.7em;
}

.usingapp {
    font-size: 2.4em;
}

.brandname {
    font-size: 3em;
}

/* Maggie */
